* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;

}
header {
	display: flex;
    flex-direction: column;
    width: 40%;
	text-align: center;
    margin: 0 5px;
}
header p {
	padding: 5px;
	border: solid 2px;
}
body {
	display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding-top: 20px;
    min-height: 100vh
}
main {
	flex:1 0 auto;
}

main section {
	display: flex;
    flex-direction: column;
}
ul li {
	list-style: none;
}

h1 {
	margin-top: 20px;
}

#landingPage{
width: 50%;
margin:0 auto;
}

#landingPage h2 {
	text-align: center;
	margin-bottom: 20px;
}
#landingPage ul {
	border:1px solid;
	padding: 10px;
	margin-bottom: 30px;
}
.bold {
	font-weight: bold;
}
#form {
	margin: 10px 0;
}

#pokemonName {
	width: 100%;
	padding: 5px;
	position: static;
}
#submit {
	font-size: 12pt;
    font-weight: bold;
	width: 100%;
	margin-top: 10px;

}
.randomButton{
    font-weight: bold;
}
.results {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.results h3 {
	    text-transform: capitalize;
}
.sprite {
	width: 20%;
}
.typeResults {
	margin-bottom: 10px;
}

.typeResults p {
	padding: 5px;
	border: 2px solid black;
	margin: 5px;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
}

.theme-ultraball .typeResults p{
	border-color: white;
}
.normal{
	background-color: #ADA594;
}

.fire {
	background-color: #F75231;
}

.water {
	background-color: #399CFF;
}
.electric {
	background-color: #FFC631;
}

.grass{
	background-color: #7BCE52;
}

.ice {
	background-color: #5ACEE7;
}

.fighting {
	background-color: #A55239;
}

.poison {
	background-color: #B55AA5;
}	

.ground {
	background-color: #D6B55A;
}

.flying {
	background-color: #9CADF7;
}

.psychic {
	background-color: #FF73A5;
}

.bug {
	background-color: #ADBD21;
}	

.rock {
	background-color: #BDA55A;
}

.ghost {
	background-color: #6363B5;
}

.dragon {
	background-color: #7B63E7;
}

.steel {
	background-color: #ADADC6;
}

.dark {
	background-color: #735A4A;
}

.fairy {
	background-color: #F7B5F7;
}

.theme-pokeball{
	background-color: #e65b41;
	color: black;
}


.theme-greatball{
	background-color: #2983bf;
	color: snow;
}

.theme-ultraball{
	background-color: #4b4b4b;
	color: #f3f326;
}

.theme-masterball {
	background-color: #9a3cb1;
	color: white;
}

.results h1 {
	text-transform: capitalize;
}

.themeToggle {
	margin: 15px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.themeToggle img {
	height: 70px;
}

.themeToggle ul {
	display: inline-flex;
}

.themeToggle li{
	margin: 5px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.themeToggle li:hover {
	-webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;

}
footer{
	padding: 10px 0;
	width: 100%;
    background-color: white;
    position: sticky;
    bottom: 0px;
    text-align: center;
    border-top: 5px solid black;
    flex-shrink: 0;
}
footer p {
	color: black;
}
footer ul li {
	display: inline-block;
	margin: 0 40px;
    font-size: 14pt;

}
.typeList {
	display: flex;
    flex-flow: wrap column;
    max-height: 150px;
    align-content: center;
}
.typeList li {
	list-style-type: none;
}

@media screen and (max-width: 425px){
	header{
		width: 80%
	}
	.typeList {
		max-height: 400px;
	}
	.sprite {
		width: 50%;
	}
}

@media screen and (max-width: 768px){
	header{
		width: 65%
	}
	.typeList{
		max-height: 300px;
	}
}

.ui-autocomplete {
	max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
