* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	display: flex;
    flex-direction: column;
    align-items: center;
}
ul li {
	list-style: none;
}

.results h1 {
	text-transform: capitalize;
}